.Flashes-scope {
  position: fixed;
  bottom: 20px;
  z-index: 8;
  right: 0;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .alert {
    &:last-of-type {
      margin-bottom: 0;
    }

    &.alert-success {
      p {
        color: $success;
      }
    }

    &.alert-info {
      p {
        color: $info;
      }
    }

    &.alert-warning {
      p {
        color: $warning;
      }
    }

    &.alert-danger {
      p {
        color: $danger;
      }
    }

  }
}