$root: '../fonts/';
$font-family-base: 'Montserrat', Arial, sans-serif;

$PFDinTextPro-Medium: 'PFDinTextPro-Medium';
@font-face {
  font-family: $PFDinTextPro-Medium;
  src: url('#{$root}PFDinTextPro-Medium/pfdintextpro-medium-webfont.woff2') format('woff2'),
  url('#{$root}PFDinTextPro-Medium/pfdintextpro-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  #root {
    background-color: #F8FAFD;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $cloudy;
    font-weight: 300;

    strong {
      font-weight: 600;
    }
  }

  h2 {
    font-size: 48px;
    line-height: 68px;
  }

  h3 {
    font-size: 36px;
    line-height: 44px;
  }

  p, li {
    color: $cloudy;
    font-weight: 300;

    strong {
      font-weight: 600;
    }
  }
}
