// ../../node_modules/materialize-css/sass/components/_variables.scss
// ../../node_modules/materialize-css/sass/materialize.scss
//@import "../../node_modules/materialize-css/sass/materialize.scss";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}